template
  div
    p I'm item
    div
      div {{ item.id }}
      div {{ item.name }}
    transition(v-bind:name="transitionName")
      router-view(name="nestchild", :item="item").child-view
script(type="text/javascript").
  export default {
    props: ["id"],
    data: function(){
      return {
        transitionName: "slide-left"
      };
    },
    computed: {
      item(){
        const items = this.$store.getters.currentItems;
        const id = Number(this.id);
        const res = items.filter(function(elm){
          console.info(elm);
          return elm.id === id;
        });
        return res[0];
      }
    },
    methods: {

    },
    created(){
      console.info("c", this);
    },
    mounted(){
      console.info("m", this);
    },
    watch:{
      "$route" (to, from) {
        const toDepth = to.path.split("/").length
        const fromDepth = from.path.split("/").length
        this.transitionName = toDepth < fromDepth ? "slide-right" : "slide-left"
      }
    }
  }