template
  div
    p I'm items
    ul
      li(v-for="item in items" v-on:click="goItem(item)")
        span {{ item.id }}
    button(v-on:click="addItem") add item
script(type="text/javascript").
  export default {
    data: function(){
      return {

      };
    },
    computed: {
      items(){
        return this.$store.getters.currentItems;
      }
    },
    methods: {
      goItem(item){
        this.$router.push({name: "item", params: { id: item.id } });
      },
      addItem(){
        const item = {
          id: 100,
          name: "aaaaaaaaaaaaaaaaaaaaaaa"
        };
        this.$store.dispatch("addItem", { item: item });
      }
    },
    created(){

    }
  }