template
  div#app
    div(v-if="isError")
      p loading error
      button(v-on:click="retry") retry
    div(v-if="isLoading")
      p loading
    div(v-if="isLoadedWithNoError")
      router-view.view.header(name="header")
      router-view.view.main(name="main")
      router-view.view.sub(name="sub")
      router-view.view.footer(name="footer")

script(type="text/javascript").
  import { mapState, mapActions, mapGetters, mapMutations } from "vuex";
  import getrandom from "../helpers/getrandom.js";
  export default{
    data: function(){
      return {
        loading: true,
        errormessage: null
      };
    },
    computed: {
      isError(){
        if(this.errormessage){
          return true;
        }
      },
      isLoading(){
        if(this.loading){
          return true;
        }
      },
      isLoadedWithNoError(){
        return !this.isLoading && !this.isError;
      },
      ...mapGetters({
        isAlreadyGotData: "user/isAlreadyGotData"
      })
    },
    methods: {
      getData(){
        const self = this;
        getrandom.getData()
          .then(function(data){
            self.setData(data);
            self.loading = false;
            self.errormessage = null;
          })
          .catch(function(err){
            console.log(err);
            self.loading = false;
            self.errormessage = err;
          });
      },
      retry(){
        this.getData();
      },
      ...mapActions({
        setData: "user/setData"
      })
    },
    created(){
      console.log("created in container component", this);

      if(!this.isAlreadyGotData){
        this.getData();
      }
    },
    mounted(){
      console.log("mounted in container component", this);
    }
  }