template
  div
    p Error! 
    p Page not found
script(type="text/javascript").
  export default {
    data: function(){
      return {
      };
    },
    computed: {
    },
    methods: {
    },
    created(){
      console.log("created in error component", this);
    },
    mounted(){
      console.log("mounted in error component", this);
    }
  }

