doctype html
html
  head
    block var
    title #{title}
    link(rel="stylesheet", href="css/bundle.css")
    block head
  body
    div#main.main
      block main
    script(src="js/app.js")
    block scripts