template
  div#app
    router-view.view.header(name="header")
    router-view.view.main(name="main")
    router-view.view.sub(name="sub")
    router-view.view.footer(name="footer")

script(type="text/javascript").
  export default {

  };

