body{
  color: pink;
  p{
    span{
      font-size: 50px;
    }
  }
}

//transition
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}